@charset "utf-8"

// gray

$gray-darker: lighten(black, 13.5%)
$gray-dark: #54513f
$gray: lighten(black, 33.5%)
$gray-lighter: lighten(black, 93.5%)

// UI
$brand-primary: #59a7cf
$brand-success: #81c8b2
$brand-info: #dfa35c
$brand-warning: #d0c351
$brand-danger: #dc877c

// background-color
$body-bg: #f0efeb

// Typography
$font-family-sans-serif: $basic-sans-serif
$font-family-serif: Georgia, "Times New Roman", Times, serif !default

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default
$font-family-base: $font-family-sans-serif !default

$font-size-base: 14px !default
$font-size-large: ceil($font-size-base * 1.25) !default
