- content_for :page_title do
  Editing page


.common-first-actions
  %ul.common-first-actions__items.is-inline-blocks
    %li.common-first-actions__item
      = link_to site_pages_path(@site), :class => 'btn btn-default' do
        %i.fa.fa-reply
        Back

= render 'form'
