$block-slug: statics_index-eyecatch

.#{$block-slug}
  background-color: $brand-primary
  color: $white
  text-align: center
.#{$block-slug}__logo
  +montserrat
.#{$block-slug}__lead
  +text-block($font-size-base, 1.6)
