$block-slug: common-eyecatch

.#{$block-slug}
  background-color: $brand-primary
  color: $white
  +rem('padding', 30px)
  +rem('margin-bottom', 20px)
.#{$block-slug}__title
  +reset-text
  +montserrat
